.root{
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 20px;
  width:  500px;
  height: 230px;
  padding: 10px;
  position: relative;
}

.name {
  font-size: 22px;
  margin: 2px;
  margin-bottom: 5px;
}

p {
  font-size: 14px
}

.link {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  padding: 10px 15px;
  background-color: #000394;
}